# readme generator

  [![License](https://img.shields.io/badge/License-Apache_2.0-blue.svg)](https://opensource.org/licenses/Apache-2.0)

  ## Description

  class project
  
  ## Table of Contents
  
  - [Description](#description)
  - [Table of Contents](#table-of-contents)
  - [Installation](#installation)
  - [Usage](#usage)
  - [Tests](#tests)
  - [Contributing](#contributing)
  - [License](#license)
  - [Questions](#questions)
  
  ## Installation
  
  just do it
  
  ## Usage
  
  don't use 

  ## Tests

  idk

  ## Contributing

  please no

  ## License

  This project is licensed under Apache License 2.0.

  ## Questions

  Github: github.com/nevermindlessly
  Email: ssb.nevermind@gmail.com